/***       Header-Nav-Container Layout  ****/
.header-nav-container {
    border-bottom: 1px solid #0D6599;
    width: 100%;
    @include flexible($direction: column,
                        $justify-content: center,
                        $align-items:center);

    @include mq($md) {
        @include flexible($direction: row,
                $justify-content: flex-start);
    }
};

.active {
    background-color: #0D6599;
    color: white;
  }

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}
 

