/***       Header-Nav-Container Layout  ****/
.header-nav-container {
    background-color: #bbb;
    width: 100%;
    @include flexible($direction: column,
                        $justify-content: center,
                        $align-items:center);

    @include mq($md) {
        @include flexible($direction: row,
                $justify-content: flex-start);
    }
};

.active {
    background-color: #4CAF50;
    color: white;
  }


 

