header {
    margin: 0;
    margin-left: 0.3em;
    width: 100%;
    text-align: left;
    @include mq($sm) {
        text-align: center;
    }
    @include mq($md) {
        margin-right: auto;
        text-align: left;
    }
}

.display-column header {
    text-align: center;
    @include mq($md) {
        text-align: left;
    }
}

.header__name {
    margin: 0;
    padding: 0.1em;
    padding-top: 0;
    color: #0D6599;
    font-family: 'Orbitron', sans-serif;
}

.logo {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.1em;
    font-size: 0.65em;
    
}




