/*** Flex layout for main-nav content ***/
.header-nav-container {
    background-color: #73B5F2;
    color: #0D6599;
}
.main-nav {
    @include mq($sm) {
            @include flexible($direction: row,
                               $justify-content: center);
        }
    @include mq($md) {
        margin-left: auto;
        justify-content: flex-end;
    }
    margin: 0;
    width: 100%;
    background-color: #73B5F2;
}

.main-nav.responsive {
    position: relative;
}

.main-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }


.header-nav-container nav a:not(:last-child) {
    display: none;
    
    @include mq($sm) {
        display: block;
    }

}

.header-nav-container .main-nav.responsive a {
    display: block;
    text-align: center;
}

.header-nav-container nav a.icon {
    @include mq($sm) {
        display: none;
    }
}

.main-nav a.icon {
    display: block;
    @include centerer;
  
    /*@include mq($sm) {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }*/

}

