.projects__list__wrapper {
    display: grid;
    grid-template-columns:minmax(0, 1fr);
    grid-template-rows: minmax(0, auto);
    grid-gap: 1.9em 1.9em;
    padding: 0.5em 1em 1em 1em;
    width: 98%;
    margin: 0 auto 0 auto;

    @include mq($md) {
        grid-template-columns:minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: minmax(0, auto);   
    }

    @include mq($lg) {
        grid-template-columns:minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: minmax(0, auto);   
    }
}

.jumbotron {
  @include flexible(
    $justify-content: flex-end,
    $align-items: center
  );
  background-image: url("../images/jimage.jpg");
  color: #fff;
  position: relative;
  /* Set a specific height */
  min-height: 100vh; 
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron__text {
  max-width: 50%; 
}

ul.skills__container {
  list-style-type: disc;
  padding: 1.5em;
}
//overlay effect
/***.jumbotron:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(120, 122, 165, 0.4);
} **/

.jumbotron p {
  text-align: left;
  position: relative;
  z-index: 1;
}

.parallax0,
.parallax1,
.parallax2,
.parallax3 {
  background-image: url("../images/section-image3.jpg");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projects__card {
  background-color: white;
}

/*********************************
         The Modal 
**********************************/
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/*** Modal Content ***/
.modal-content-container {
    background-color: #fefefe;
    margin: auto;
    padding: 1.5em;
    border: 1px solid #888;
    border-radius: 10px;
    width: 60%;
    min-width: 290px;
    max-width: 360px;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.9);
  }
  
/*** The Close Button ***/
.close {
    color: #999;
    float: right;
    font-size: 1.5em;
    font-weight: bold;

  }
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }