/***************************************
        JUMBOTRON SECTION
****************************************/
.jumbotron {
  @include flexible(
    $direction: row,
    $justify-content: flex-start,
    $align-items: flex-start
   
  );
  background-image: url("../images/jimage2.png");
  color: #fff;
  position: relative;
  /* Set a specific height */
  height: 100vh; 
  width: 100vw;
  

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron__text__container {
  padding: 0.1em;
  padding-left: 0.5em;
  border-radius: 4px;
  background-color: rgba(13,1,75, 0.5);
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Orbitron', Sans-serif;

  .jumbotron__name {
    font-size: 1.8em;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 0;
  }

  @include mq($sm) {
    background-color: rgba(13, 1, 75, 0.15);
  }
}



.jumbotron__title {
  font-size: 1.1em;
  text-align: center;
  margin-top: 0.05em;
  font-weight: bold;
}

.jumbotron__name,
.jumbotron__title {
  width: 100%;
}

/***********************************
          ABOUT SECTION
************************************/
.about {
  text-align: center;
  padding: 1.5em 1.8em;
  color: #043E62;
  background-color: #ccc;//#73B5F2;

  h2 {
    margin-top: 0;
  }
}

.about__wrapper {
  @include mq($md) {
    @include flexible($direction: row)
  }
}

.about__img__wrapper {
  @include mq($md) {
    width: 30%;
  }
}

.aobut__text__wrapper {
  @include mq($md) {
    width: 65%;
  }
}
.about p {
  text-align: left;
  line-height: 1.8em;
}

.about__text {
  padding: 0 1.2em;
}
/**********************
      SKILLS
***********************/
ul.skills__container {
  padding: 1.5em;
}

.skills__container {
  width: 100%;
  @include flexible($justify-content: center,
                      $align-content: space-around,
                      $wrap: wrap);
  @include centerer;
  padding: 6em;
  width: 65%;
}

.skills__container li {
  padding: 3em;
}

.skills i {
  font-size: 2.5rem;
  color: white;
  width: 4.45rem;
  line-height: 4.5rem;
  height: 4.45rem;
}

.skills i, .skills img {
  background-color:  #3385C6;
  border-radius: 50%;
}



.parallax0,
.parallax1,
.parallax2,
.parallax3 {
  background-image: url("../images/jimage1.png");

  /* Set a specific height */
  min-height: 300px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/********************************
      PROJECTS SECTION
*********************************/

.projects {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
  h2 {
    color: #043E62;
  }
}

.projects__heading {
  margin-bottom: 0;
  margin-top: 1.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-bottom: 1px solid #043E62;
  width: 40%;
  @include centerer;
}

.projects__card {
  width: 100%;
  background-color: #fff;
  @include flexible($direction: column,
                    $align-items: center);
  border-bottom: 1px solid #888;
}
.projects__card__wrapper {
  width: 95%;
  padding: 1.5em 0.1em;
  @include mq($md) {
    @include flexible($direction: row);
  }
}
.odd {
  background-image: url("../images/blue-bg.png");
  color: white;
}
.reverse-items {
  @include mq($md) {
    flex-direction: row-reverse;
  } 
}
.even {
  color: #043E62;
}

.projects__card__text {
  padding: 1.2em;
  @include mq($md) {
    width: 50%;
    text-align: left;
  }
}

div.first {
  padding-top:0;
  @include mq($md) {
    padding-top: 1.5em;
  }
}



.projects__card__summary {
  padding-bottom: 0.8em;
}

.projects__card__link-container {
  width: 100%;
  @include flexible($justify-content: space-around);
  margin-top: auto;
  @include mq($md) {
    justify-content: flex-start;
  }
}

.projects__card__link-container p {
  border-radius: 0.25em;
  padding: 0.45em 0.75em 0.45em 0.75em;
  border: none;
  background-color: #73B5F2;
  color: white;
  @include mq($md) {
    margin-left: 0.5em;
  }
  
}

.projects__card__link-container a {
  color: #fff;
}

.projects__card__link-container a p:hover {
  border: solid 1px #aaa;
  color: #043E62;
}



/****************************************
            SKILLS
*****************************************/
.skills {
  color: #043E62;
  @include centerer;
}

.skills__heading,
.about__heading {
  border-bottom: 1px solid #043E62;
  width: 40%;
  @include centerer;
  padding: 0.75em;
}

/***************************************
          CONTACT
*****************************************/
.contact {
  @include centerer;
  background-color: #3385C6;
  color: #043E62;
 
  
}

.contact-wrapper {
  position: relative;
  color: white;
  top: -60px;
  width: 75%;
  padding: 1em;
  @include centerer;
  margin-top: 1em;
  border-radius: 6px;
  background-color:  rgba(0, 0, 25, 0.9);
}
.contact__heading {
  margin: 0;
  padding: 0.7em;
  padding-bottom: 0;
}
.social-media {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}
.contact__email {
  width: 40%;
  max-width: 200px;
  @include centerer;
  background-color: #3385C6;
  color:#043E62;
  border-radius: 4px;
  padding: 0.5em;
  border: none;
}

.contact__email:hover {
    border: 1px solid #043E6C;
    color: white;
   
}
.social-media {
  font-size: 1.2em;
  @include flexible($justify-content: center);
  @include centerer;

  i {
    color: blue;
    padding: 0.5em 0.8em;
  }
}
